.cover {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    max-width: 1000px;
    position: relative;
}

.cover-100vh {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .alf-image {
        padding-bottom: 0 !important;
        height: 100% !important;
        background-size: cover !important;
    }
}

.cover-image,
.cover-image > div {
    height: 100%;
}

h1 {
    font-size: inherit;
}

.alf-gt400 .cover-main-story h1 {
    font-size: 42px;
}

.alf-gt500 .cover-main-story h1 {
    font-size: 47px;
}

.alf-gt600 .cover-main-story h1 {
    font-size: 53px;
}

.alf-gt700 .cover-main-story h1 {
    font-size: 58px;
}

.alf-gt800 .cover-main-story h1 {
    font-size: 63px;
}

.alf-gt900 .cover-main-story h1 {
    font-size: 68px;
}

.cover img {
    height: 100%;
    width: auto;
    max-width: 10000px;
    display: block;
}

.cover-gradient {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.cover-main-story {
    position: absolute;
    top: 150px;
    text-align: left;
    font-size: 42px;
    color: #fff;
    text-shadow: 1px 1px 5px #444;
    font-family: "Playfair Display", serif;
    right: 20px;
    left: 20px;
    line-height: 1.2;

    &.bottom-align {
        top: auto;
        bottom: 10%;
    }

    h1 {
        margin: 0;
        padding: 0;
    }
}

.cover-article-list {
    position: absolute;
    top: 300px;
    text-align: left;
    font-size: 28px;
    color: #fff;
    text-shadow: 1px 1px 5px #444;
    font-family: "Playfair Display", serif;
    right: 20px;
    left: 20px;
}

.cover-header-box {
    position: absolute;
    top: 0;
    left: 4%;
    right: 4%;
    display: flex;
    pointer-events: none;
}

.cover-header-left {
    justify-content: flex-start;
}

.cover-header-centered {
    justify-content: center;
}

.cover-header-right {
    justify-content: flex-end;
}

.cover-header-box-content {
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    padding: 30px 20px 14px;
    box-sizing: border-box;
    min-width: 170px;
    pointer-events: all;

    .product-logo {
        height: 25px;
        background-size: contain;
        margin-bottom: 3px;
    }

    .product-title {
        font-family: "Open Sans", sans-serif;
        color: #fff;
        display: block;
        text-transform: uppercase;
        font-size: 26px;
        line-height: 1.5;
        letter-spacing: 0.25em;
        font-weight: 300;
    }

    .product-date {
        border-top: 1px solid rgba(255, 255, 255, 0.4);
        color: #fff;
        text-transform: uppercase;
        padding-top: 10px;
        margin-top: 16px;
        font-size: 11px;
        letter-spacing: 0.1em;
    }
}

.alf-gt500 .cover-header-box {
    min-width: 230px;

    .product-logo {
        height: 44px;
    }

    .product-title {
        font-size: 32px;
        line-height: 1.5;
    }
    .product-date {
        font-size: 13px;
    }
}
