.cover {
    background: #fff;
    font-family: "Open Sans", sans-serif;
    max-width: 1000px;
    position: relative;
}

.cover-image,
.cover-image > div {
    height: 100%;
}

h1 {
    font-size: inherit;
}

.alf-gt400 .cover-main-story h1 {
    font-size: 42px;
}

.alf-gt500 .cover-main-story h1 {
    font-size: 47px;
}

.alf-gt600 .cover-main-story h1 {
    font-size: 53px;
}

.alf-gt700 .cover-main-story h1 {
    font-size: 58px;
}

.alf-gt800 .cover-main-story h1 {
    font-size: 63px;
}

.alf-gt900 .cover-main-story h1 {
    font-size: 68px;
}

.cover img {
    height: 100%;
    width: auto;
    max-width: 10000px;
    display: block;
}

.cover-gradient {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.cover-main-story {
    position: absolute;
    top: 150px;
    text-align: left;
    font-size: 42px;
    color: #fff;
    text-shadow: 1px 1px 5px #444;
    font-family: "Playfair Display", serif;
    right: 20px;
    left: 20px;
    line-height: 1.2;

    h1 {
        margin: 0;
        padding: 0;
    }
}

.cover-article-list {
    position: absolute;
    top: 300px;
    text-align: left;
    font-size: 28px;
    color: #fff;
    text-shadow: 1px 1px 5px #444;
    font-family: "Playfair Display", serif;
    right: 20px;
    left: 20px;
}

.cover-header {
    height: 30px;
    display: flex;
    align-items: center;

    position: absolute;
    top: 15px;
    width: 80%;
    left: 20px;

    .cover img {
        height: 100%;
        width: auto;
        max-width: 10000px;
        display: inline-block;
    }

    .publication-logo {
        height: 30px;
        padding: 0;
        border: none;
    }

    .product-title {
        font-family: "Open Sans", sans-serif;
        color: #fff;
        flex-grow: 2;
        display: inline-block;
        text-transform: uppercase;
        padding: 0 5px 0 10px;

        h1 {
            font-size: 18px;
            font-weight: lighter;
        }
    }
}
