/**
 * Alf fonts
 * These will be available in the font dropdown
 */

@font-face {
  font-family: "gsb";
  font-weight: bold;
  font-style: italic;
  src: url('//r.acdn.no/s3files/castor/arena/0.8.17/fonts/guardian/sans/black.woff') format('woff'),
  url('//r.acdn.no/s3files/castor/arena/0.8.17/fonts/guardian/sans/black.ttf')  format('truetype');
}

@font-face {
  font-family: "gsb";
  font-weight: bold;
  font-style: normal;
  src: url('//r.acdn.no/s3files/castor/arena/0.8.17/fonts/guardian/sans/italic.woff') format('woff'),
  url('//r.acdn.no/s3files/castor/arena/0.8.17/fonts/guardian/sans/italic.ttf') format('truetype');
}

.alf-font-guardian-sans-black {
  font-family: "gsb", helvetica, arial, sans-serif;
}

.alf-font-playfair {
  font-family: "Playfair Display", serif;
}