$clr-ranablad: #f3c3c3;
$clr-an: #66268c;

&.publication-ranablad {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.ranablad.no/gfx/small.svg) no-repeat 50%;
    }
  }
  .article-opinion {
    .vignette {
      color: $clr-ranablad;
    }

    .quote {
      background-color: $clr-ranablad;
    }

    .article-biography .biography {
      background-color: $clr-ranablad;
    }
  }
}

&.publication-tangotidende {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.tangotidende.no/gfx/small.svg) no-repeat 50%;
    }
  }
}

&.publication-f-b {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.f-b.no/gfx/small.svg) no-repeat 50%;
    }
  }
}

&.publication-rb {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.rb.no/gfx/small.svg) no-repeat 50%;
    }
  }
}

&.publication-sa {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.sa.no/gfx/small.svg) no-repeat 50%;
    }
  }
}

&.publication-ostlendingen {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.ostlendingen.no/gfx/small.svg) no-repeat 50%;
    }
  }
}

&.publication-dt {
    .cover-header-box {
        .product-logo {
            background: url(https://r.api.no/local/v3/publications/www.dt.no/gfx/small.svg) no-repeat 50%;
        }
    }
}

&.publication-oa {
    .cover-header-box {
        .product-logo {
            background: url(https://r.api.no/local/v3/publications/www.oa.no/gfx/small.svg) no-repeat 50%;
        }
    }
}

&.publication-fremover {
    .cover-header-box {
        .product-logo {
            background: url(https://r.api.no/local/v3/publications/www.fremover.no/gfx/small.svg) no-repeat 50%;
        }
    }
}

&.publication-smaalenene {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.smaalenene.no/gfx/small.svg) no-repeat 50%;
    }
  }
}

&.publication-an {
  .cover-header-box {
    .product-logo {
      background: url(https://r.api.no/local/v3/publications/www.an.no/gfx/small.svg) no-repeat 50%;
    }
  }
  .article-opinion {
    .vignette {
      color: $clr-an;
    }

    .quote {
      background-color: $clr-an;
      color: #fff;
    }

    .article-biography .biography {
      background-color: $clr-an;
      color: #fff;
    }
  }
}
