<div data-name="Bilde med tekst øverst"
     data-filter-format-name="web"
     data-score="900"
     data-map="article" class="article alf-template alf-is-responsive">
    <div class="article-header-locked article-header-top-title">
        <div class="article-header-image alf-container" data-type="image" data-map="top-image-original"></div>
        <div class="article-title-container gradient-dark-to-light">
            <div class="article-title alf-container alf-is-editable alf-is-draggable" data-map="title"></div>
        </div>
    </div>
    <div class="article-preamble alf-container alf-is-optional" data-map="excerpt"></div>
    <div class="article-byline-wrapper">
        <div class="article-byline-container">
            <div class="article-byline alf-container alf-is-optional" data-map="byline"></div>
            <div class="article-byline-buttons">
                <div class="article-button-facebook"></div>
                <div class="article-button-more"></div>
            </div>
        </div>
    </div>
    <div class="article-body alf-region alf-region-flexible"></div>
    <div class="article-published-container">
        <div class="article-published alf-container alf-is-optional" data-map="published-time"></div>
        <div class="article-published-buttons">
            <div class="article-button-facebook"></div>
            <div class="article-button-more"></div>
        </div>
    </div>
</div>

<div data-name="Bilde med tekst nederst"
     data-filter-format-name="web"
     data-score="1000"
     data-map="article" class="article alf-template alf-is-responsive">
    <div class="article-header-locked">
        <div class="article-header-image alf-container" data-type="image" data-map="top-image-original"></div>
        <div class="article-title-container gradient-light-to-dark">
            <div class="article-title alf-container alf-is-editable alf-is-draggable" data-map="title"></div>
        </div>
    </div>
    <div class="article-preamble alf-container alf-is-optional" data-map="excerpt"></div>
    <div class="article-byline-wrapper">
        <div class="article-byline-container">
            <div class="article-byline alf-container alf-is-optional" data-map="byline"></div>
            <div class="article-byline-buttons">
                <div class="article-button-facebook"></div>
                <div class="article-button-more"></div>
            </div>
        </div>
    </div>
    <div class="article-body alf-region alf-region-flexible"></div>
    <div class="article-published-container">
        <div class="article-published alf-container alf-is-optional" data-map="published-time"></div>
        <div class="article-published-buttons">
            <div class="article-button-facebook"></div>
            <div class="article-button-more"></div>
        </div>
    </div>
</div>

<div data-name="Bilde med tekst under"
     data-filter-format-name="web"
     data-map="article" class="article alf-template alf-is-responsive">
    <div class="article-header-locked">
        <div class="article-header-image alf-container" data-type="image" data-map="top-image-original"></div>
    </div>
    <div class="article-header-no-image">
        <div class="article-title alf-container alf-is-editable alf-is-draggable" data-map="title"></div>
    </div>
    <div class="article-preamble article-preamble-no-image alf-container alf-is-optional" data-map="excerpt"></div>
    <div class="article-byline-wrapper">
        <div class="article-byline-container">
            <div class="article-byline alf-container alf-is-optional" data-map="byline"></div>
            <div class="article-byline-buttons">
                <div class="article-button-facebook"></div>
                <div class="article-button-more"></div>
            </div>
        </div>
    </div>
    <div class="article-body alf-region alf-region-flexible"></div>
    <div class="article-published-container">
        <div class="article-published alf-container alf-is-optional" data-map="published-time"></div>
        <div class="article-published-buttons">
            <div class="article-button-facebook"></div>
            <div class="article-button-more"></div>
        </div>
    </div>
</div>

<div data-name="Tittel uten bilde"
     data-filter-format-name="web"
     data-map="article" class="article alf-template alf-is-responsive">
    <div class="article-header-no-image">
        <div class="article-title alf-container alf-is-editable" data-map="title"></div>
    </div>
    <div class="article-preamble alf-container alf-is-optional" data-map="excerpt"></div>
    <div class="article-byline-wrapper">
        <div class="article-byline-container">
            <div class="article-byline alf-container alf-is-optional" data-map="byline"></div>
            <div class="article-byline-buttons">
                <div class="article-button-facebook"></div>
                <div class="article-button-more"></div>
            </div>
        </div>
    </div>
    <div class="article-body alf-region alf-region-flexible"></div>
    <div class="article-published-container">
        <div class="article-published alf-container alf-is-optional" data-map="published-time"></div>
        <div class="article-published-buttons">
            <div class="article-button-facebook"></div>
            <div class="article-button-more"></div>
        </div>
    </div>
</div>

<div data-name="Videoartikkel"
     data-filter-format-name="web"
     data-score="1500"
     data-map="article" class="article article-video alf-template alf-is-responsive">
    <div class="article-main-video alf-container" data-map="videoMain"></div>
    <div class="article-video-title-container">
        <div class="article-title alf-container alf-is-editable alf-is-draggable" data-map="title"></div>
    </div>
    <div class="article-preamble alf-container alf-is-optional" data-map="excerpt"></div>
    <div class="article-byline-wrapper">
        <div class="article-byline-container">
            <div class="article-byline alf-container alf-is-optional" data-map="byline"></div>
            <div class="article-byline-buttons">
                <div class="article-button-facebook"></div>
                <div class="article-button-more"></div>
            </div>
        </div>
    </div>
    <div class="article-body alf-is-optional alf-region alf-region-flexible"></div>
    <div class="article-published-container">
        <div class="article-published alf-container alf-is-optional" data-map="published-time"></div>
        <div class="article-published-buttons">
            <div class="article-button-facebook"></div>
            <div class="article-button-more"></div>
        </div>
    </div>
</div>
