<div data-name="Cover - image 0"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container" data-type="image" data-map="cover-image-0"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 1"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container" data-type="image" data-map="cover-image-1"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 2"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container" data-type="image" data-map="cover-image-2"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 3"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container" data-type="image" data-map="cover-image-3"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 4"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container" data-type="image" data-map="cover-image-4"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 5"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container" data-type="image" data-map="cover-image-5"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 6"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container" data-type="image" data-map="cover-image-6"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 7"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-7"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 8"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-8"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 9"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-9"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 10"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-10"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 11"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-11"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 12"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-12"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 13"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-13"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 14"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-14"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 15"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-15"></div>
    <div class="cover-gradient gradient-dark-light-dark"></div>
    <div class="cover-header alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
    </div>
    <div class="cover-main-story alf-is-draggable-y">
        <div class="alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
