<% for (var i = 0; i < 16; i++) { %>
    <div data-name="Cover - bilde <%= i %>"
         data-filter-page-pos="1"
         data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
        <div class="cover-image alf-container" data-type="image" data-map="cover-image-<%= i %>"></div>
        <div class="cover-gradient gradient-dark-light-dark"></div>
        <div class="cover-header alf-is-draggable-y">
            <div data-map="publication-logo" class="publication-logo alf-container"></div>
        </div>
        <div class="cover-main-story alf-is-draggable">
            <div class="alf-container alf-is-editable" data-map="title"></div>
        </div>
    </div>
<% } %>
