<div data-name="Portrait Image"
     data-filter-page-pos="1"
     data-filter-format-name="cover"
     data-score="100"
     data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-portrait"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>

<div data-name="Cover - image 0"
     data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-0"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 1" data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-1"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 2" data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-2"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 3" data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-3"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 4" data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-4"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 5" data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-5"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 6" data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-6"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
<div data-name="Cover - image 7" data-filter-page-pos="1"
     data-filter-format-name="cover" data-map="article" class="cover alf-template alf-is-responsive">
    <div class="cover-image alf-container alf-is-draggable-x" data-map="cover-image-7"></div>
    <div class="cover-title alf-is-draggable-y">
        <div data-map="publication-logo" class="publication-logo alf-container"></div>
        <div data-map="product-title" class="product-title alf-container"></div>
    </div>
    <div class="alf-is-draggable-y">
        <div class="cover-header-list alf-container alf-is-editable" data-map="title"></div>
    </div>
</div>
